{% extends 'main.html' %}

{% block content %}

<center>
    <h1 class="page-title">ADD TASK</h1>

    <div class="task-container center">
        <div class="task-card form-card">
            <form action="" method="POST">
                {% csrf_token %}

                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="input-field"><br>

                <label for="desc">Description</label>
                <input type="text" name="desc" id="desc" class="input-field"><br>

                <input type="submit" value="Save" class="btn">
            </form>
        </div>
    </div>
</center>



{% endblock content %}