{% extends 'main.html' %}
{% block content %}
<center>
    <h2>this is history page</h2>
    <a href="{% url 'restore_all' %}">Restore All</a>
    <a href="{% url 'clear_all' %}">Clear All</a>
    <div>
        {% for data in all_history %}
        <h2>{{data.id}}//{{data.title}}//{{data.desc}}
        <a href="{% url 'restore_history' data.id %}">Restore</a>
        <a href="{% url 'delete_history' data.id %}">Delete</a>
        </h2>
        {% endfor %}
    </div>
</center>
{% endblock content %}