{% extends 'main.html' %}
{% block content %}


<h2 class="page-title">This is home page</h2>

<div class="task-container">
    {% for i in data %}
        <div class="task-card">
            <h3>{{ i.title }} <span>// {{ i.desc }}</span> <span>({{ user }})</span></h3>
            <div class="actions">
                <a href="{% url 'update_task' i.id %}">Update</a>
                <a href="{% url 'confirm_delete' i.id %}">Delete</a>
                <a href="{% url 'completed' i.id %}">Complete</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}