{% extends 'main.html' %}

{% block content %}
<div class="login-container">
    <h2 class="login-title">Login Page</h2>

    {% if wrong_credential %}
        <p class="error-message">You have entered wrong credentials</p>
    {% endif %}

    <form action="" method="POST" class="login-form">
        {% csrf_token %}
        <label for="username">Username</label>
        <input name="username" type="text" id="username" class="input-field"><br>

        <label for="password">Password</label>
        <input name="password" type="password" id="password" class="input-field"><br>

        <input type="submit" value="Login" class="btn">
    </form>
</div>
{% endblock content %}
