{% extends 'main.html' %}

{% block content %}
<div class="profile-container">
    <h1 class="profile-title">User Profile</h1>

    <div class="profile-details">
        <p><strong>Username:</strong> {{ request.user }}</p>
        <p><strong>Authenticated:</strong> {{ request.user.is_authenticated }}</p>
        <p><strong>First Name:</strong> {{ request.user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ request.user.last_name }}</p>
        <p><strong>Email:</strong> {{ request.user.email }}</p>
        <p><strong>Username:</strong> {{ request.user.username }}</p>
    </div>

    <div class="profile-actions">
        <a class="btn" href="{% url 'update_profile' %}">Update Profile</a>
        <a class="btn" href="{% url 'change_pass' %}">Change Password</a>
        <a class="btn logout" href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% endblock content %}
